{%extends 'all-pages/base.html'%}
{% load bootstrap3 %}
{% load staticfiles%}
<head>
  {% block styles %}
   {% bootstrap_css %}
   <link rel="stylesheet" href="{% static 'css/base.css' %}">
  {% endblock %}
</head>
{% block content %}

{% for items in query_img %}

<div class='row'>
  <div class='col-md-4'>
    </div>
    <div class='col-md-4'>
<div id = 'pan' class="panel panel-default">
  <!-- <div class="panel-heading"></div> -->
  <div class="panel-heading">{{items.image_profile}} <img src="{{items.image_photo.url}}" alt=""></div>
  <!-- <div class="panel-heading">{{items.image_name}}</div> -->
  <!-- <div class="panel-body">{{items.image_caption}}</div> -->
  <div class="panel-body"><img src="{{items.image.url}}" alt=""></div>
  <ul class="list-inline home-text" align='justified'>

                    <li class="list-inline-item">
                        <a href="#"><i class="glyphicon glyphicon-comment"  aria-hidden="true"></i></a>
                    </li>
                    <li class="list-inline-item">
                        <a href="#"><i class="glyphicon glyphicon-heart" style="color:red;" aria-hidden="true"></i></a>
                    </li>
                </ul>
                <div class="panel-body">
                <form action="/comments/" method="post">
                  <p>comments:</p>

                  
                </form>
                </div>
  <div class="panel-body">{{items.img_comments}}</div>

  <div class="panel-body"><hr><input type="text" action="/{{items.img_comments}}" method="post" name="name" placeholder="add comment..." style = "
    margin:0px;
    color: #000;
	margin:0 auto;
  border:none;
  outline: none;" required=""/>

  <input type="submit" value="submit">

</div>


</div>
</div>
<div class='col-md-4'>
  </div>
</div>





<!-- <div class="container-fluid">

  <form  action="{%url 'welcome'%}" method="post">
    {%csrf_token%}


    <input type="submit" value="Subscribe">
  </form> -->

<!-- </div> -->
{%endfor%}

{% endblock %}
