{%extends 'all-pages/base.html'%}
{% load bootstrap3 %}
{% load staticfiles%}
<head>
  {% block styles %}
   {% bootstrap_css %}
   <link rel="stylesheet" href="{% static 'css/base.css' %}">
  {% endblock %}
</head>
{% block content %}

{% for items in query_img %}

<div class='row'>
  <div class='col-md-4'>
    </div>
    <div class='col-md-4'>
<div id = 'pan' class="panel panel-default">
  <!-- <div class="panel-heading"></div> -->
  <div class="panel-heading">{{items.image_profile}} <img src="{{items.image_photo.url}}" alt=""></div>
  <!-- <div class="panel-heading">{{items.image_name}}</div> -->
  <!-- <div class="panel-body">{{items.image_caption}}</div> -->
  <div class="panel-body"><img src="{{items.image.url}}" alt=""></div>
  <div class="panel-body">{{items.img_comments}}</div>
  <div class="panel-body">
    <form action="/Comments/" method="post">
    <label for="comments">comments: </label>
    <input id="comment" type="text" name="comment" value="{{ items.img_comments }}">
    <input type="submit" value="OK">
</form>
  </div>
  <div class="panel-body"><hr><input type="text" action="/{{items.img_comments}}" name="name" placeholder="add comment..." style = "
    margin:0px;
    color: #000;
	margin:0 auto;
  border:none;
  outline: none;" required=""/>
  <input type="submit" value="submit">

</div>


</div>
</div>
<div class='col-md-4'>
  </div>
</div>





<!-- <div class="container-fluid">

  <form  action="{%url 'welcome'%}" method="post">
    {%csrf_token%}


    <input type="submit" value="Subscribe">
  </form> -->

<!-- </div> -->
{%endfor%}

{% endblock %}
